body{

font-family: Arial;
margin:0;

background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;

}


.header{

text-align:center;
padding:30px;

}


.budget-container{

width:80%;
margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}


.budget-form,
.budget-summary,
.expense-list,
.saving-tips{

background:rgba(255,255,255,0.1);

padding:20px;

border-radius:15px;

backdrop-filter:blur(10px);

}


.budget-form input,
.budget-form select{

width:100%;
padding:10px;
margin-bottom:10px;

border:none;
border-radius:8px;

}


button{

width:100%;
padding:12px;

background:#00e5ff;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

}


button:hover{

background:white;
color:black;

}


.cards{

display:flex;
gap:15px;

}


.card{

flex:1;

background:#111;

padding:15px;

border-radius:10px;

text-align:center;

}


.expense-list ul{

list-style:none;
padding:0;

}


.expense-list li{

background:#111;

padding:10px;

margin-bottom:8px;

border-radius:8px;

display:flex;

justify-content:space-between;

}


.saving-tips p{

background:#111;

padding:10px;

border-radius:8px;

margin-bottom:10px;

}